<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375667869336-e2sgfoun1m65089bb836ree6740gfl9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375667869336-e2sgfoun1m65089bb836ree6740gfl9p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>375667869336-mqero5935ab9ipk4hvdo1rnqfgtcc2fh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6Zg3eFHi1InCzx5rtMOCxatQWTNoYKHA</string>
	<key>GCM_SENDER_ID</key>
	<string>375667869336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FoodieThing.jonah</string>
	<key>PROJECT_ID</key>
	<string>foodie-thing</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-thing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375667869336:ios:26a30699b6796607</string>
	<key>DATABASE_URL</key>
	<string>https://foodie-thing.firebaseio.com</string>
</dict>
</plist>